In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
folder_path = "df_final_hotel_price.csv"
hotel_df= pd.read_csv(folder_path)

In [8]:
for column in hotel_df.columns:
    unique_values = hotel_df[column].unique()
    print(f"Unique values in {column}: {unique_values}")

Unique values in Unnamed: 0: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100]
Unique values in Rating: [3.9   4.    4.4   3.8   4.3   4.1   3.7   4.2   4.6   4.7   3.5   4.038
 3.6   4.5   3.1   3.4   3.3   4.8   3.   ]
Unique values in Rating Description: ['Very Good' 'Excellent' 'Good']
Unique values in Reviews: [4187.  2201.  1315.  5089.  3290.  4764.  2372.  2314.  2076.   426.
 1602.   500.  2156.  2944.  1162.  1805.  1618.   664.  1865.  1715.
  222.  2542.  1022.   237.  1791.  1869.   527.  2138.  2327.   865.
 4271.  1381.  1565.  1242.   984.5 1639.  1537.   191.   686.    20.
 1750.  1172.  1283.  1526.   643.  1320.  3836.   963.   151.   100.
  838.   762.  2155.   321.  1159.  1198.  2185.    13.   695.  1928.
 2624.    62.  1389.  1189.   775.   875.   142.  1876.   438.    91.
  627.  1341.  1016.    47.   613.   584.   213.   526.   883.   662.
   79.   923.  1024.   732.    36.  1048.   319.    24.  1552.   468.
  285.   849.   874.   302.   348.   139.   959.  1006.   712.   221. ]
Unique values in Star Rating: [5. 4. 3.]
Unique values in Location: ['Ulsoor' 'Brookefield' 'Vasanth Nagar' 'Sivanchetti Gardens' 'Hosur road'
 'Ashok Nagar' 'Palace road' 'Electronic City' 'Richmond road'
 'Koramangala' 'Tumkur road' 'Gandhi Nagar' 'Sampangi Rama Nagar'
 'Infantry Road' 'Seshadripuram' 'Residency Road' 'Hebbal'
 'Cunningham Road' 'Outer Ring Road' 'Domlur Layout' 'Whitefield'
 'Mathikere' 'Near Bangalore Airport' 'Majestic' 'In Devanhalli'
 'Bannerghatta Main road' 'Indiranagar' 'Tirumanahalli' 'Rajajinagar'
 'Marathahalli' 'Shivaji Nagar' 'HAL old airport road' 'HSR Layout'
 'Bilekahalli' 'Yeshwanthpur' 'Ganganagar' 'Church Street']
Unique values in Nearest Landmark: ['MG Road' 'Bangalore Palace' 'Ulsoor Lake' 'Cubbon Park'
 'Indira Gandhi Musical Fountain Park' 'Kempegowda Airport'
 'Bangalore city centre' 'Palace Grounds']
Unique values in Distance to Landmark: [ 2150.  2400.   770.  2900.  1800.  2300.  1500.   780.  3000.  2200.
  7700.  2100.   900.  2600.   910.  8200. 52000.  1900.   980.  1600.
  8000.  5000.  1400.   990.  2500.    94.]
Unique values in Price: [ 7567  1509  9900  2347  2522  6580 10200  2598  7700  9700  3680  1098
  7249  5999  6250  4299  4112  2792  5076  9000  1113  6698  7000  4499
  6547  3934  3575  7500  2660  5640 11500  3399  1330  1689  6409  4000
  3178  2726 11750  4599  5000  3082  5823  2900  2279 25000  2939  4252
  4230   979  8000  1884  7268  1295  1586  3500  1645  6345 11700  2791
  3723  3084  1005  5292  3510  2194  1999  2264  5330  1692  2759 13500
 11000  3999  5400  6501  2820  2848  2300  6768  2799 16500  2098  5500
  2776  2835  2345  9500  4300  3666 14875  1505  3977  1669  1865]
Unique values in Tax: [2254.       531.       767.53125  918.      1014.      1540.
 1016.       480.       269.       831.       564.      1026.
  294.      1354.      2156.      1075.       977.       843.
  754.      1140.       315.      1295.       806.       638.
  552.       872.       699.       604.       624.       752.
 1021.       990.       268.       418.       333.      1350.
  836.       325.       421.       539.       642.       306.
 1247.       360.       755.       780.       660.       342.
  465.      1368.       554.       693.       741.       396.
  804.       969.       337.       569.     ]

In [9]:
df=hotel_df[['Rating', 'Rating Description', 'Reviews', 'Star Rating', 'Location',
       'Nearest Landmark', 'Distance to Landmark', 'Price', 'Tax']]
dfflask=df[['Rating', 'Rating Description', 'Reviews', 'Star Rating', 'Location',
       'Nearest Landmark', 'Distance to Landmark', 'Tax']]
#df.to_csv('df_final_hotel.csv')
df.head(5)

,Rating,Rating Description,Reviews,Star Rating,Location,Nearest Landmark,Distance to Landmark,Price,Tax
0,3.9,Very Good,4187.0,5.0,Ulsoor,MG Road,2150.0,7567,2254.00000
1,4.0,Very Good,2201.0,4.0,Brookefield,MG Road,2150.0,1509,531.00000
2,4.4,Excellent,1315.0,5.0,Vasanth Nagar,Bangalore Palace,2400.0,9900,767.53125
3,4.0,Very Good,5089.0,5.0,Sivanchetti Gardens,Ulsoor Lake,770.0,2347,918.00000
4,4.0,Very Good,3290.0,4.0,Hosur road,MG Road,2150.0,2522,1014.00000

In [10]:
from sklearn.model_selection import train_test_split
Xflask=df[['Rating', 'Rating Description', 'Reviews', 'Star Rating', 'Location',
       'Nearest Landmark', 'Distance to Landmark', 'Tax']]
yflask=df['Price']
Xflask_train, Xflask_test, yflask_train, yflask_test = train_test_split(Xflask, yflask, test_size=0.2, random_state=42)

In [11]:
X = pd.get_dummies(df[['Rating', 'Rating Description', 'Reviews', 'Star Rating', 'Location',
       'Nearest Landmark', 'Distance to Landmark', 'Tax']], drop_first=True)
y = df['Price']
X.head(5)

,Rating,Reviews,Star Rating,Distance to Landmark,Tax,Rating Description_Good,Rating Description_Very Good,Location_Bannerghatta Main road,Location_Bilekahalli,Location_Brookefield,...,Location_Vasanth Nagar,Location_Whitefield,Location_Yeshwanthpur,Nearest Landmark_Bangalore city centre,Nearest Landmark_Cubbon Park,Nearest Landmark_Indira Gandhi Musical Fountain Park,Nearest Landmark_Kempegowda Airport,Nearest Landmark_MG Road,Nearest Landmark_Palace Grounds,Nearest Landmark_Ulsoor Lake
0,3.9,4187.0,5.0,2150.0,2254.00000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,4.0,2201.0,4.0,2150.0,531.00000,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,4.4,1315.0,5.0,2400.0,767.53125,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4.0,5089.0,5.0,770.0,918.00000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4.0,3290.0,4.0,2150.0,1014.00000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [12]:
X.columns

Index(['Rating', 'Reviews', 'Star Rating', 'Distance to Landmark', 'Tax',
       'Rating Description_Good', 'Rating Description_Very Good',
       'Location_Bannerghatta Main road', 'Location_Bilekahalli',
       'Location_Brookefield', 'Location_Church Street',
       'Location_Cunningham Road', 'Location_Domlur Layout',
       'Location_Electronic City', 'Location_Gandhi Nagar',
       'Location_Ganganagar', 'Location_HAL old airport road',
       'Location_HSR Layout', 'Location_Hebbal', 'Location_Hosur road',
       'Location_In Devanhalli', 'Location_Indiranagar',
       'Location_Infantry Road', 'Location_Koramangala', 'Location_Majestic',
       'Location_Marathahalli', 'Location_Mathikere',
       'Location_Near Bangalore Airport', 'Location_Outer Ring Road',
       'Location_Palace road', 'Location_Rajajinagar',
       'Location_Residency Road', 'Location_Richmond road',
       'Location_Sampangi Rama Nagar', 'Location_Seshadripuram',
       'Location_Shivaji Nagar', 'Location_Sivanchetti Gardens',
       'Location_Tirumanahalli', 'Location_Tumkur road', 'Location_Ulsoor',
       'Location_Vasanth Nagar', 'Location_Whitefield',
       'Location_Yeshwanthpur', 'Nearest Landmark_Bangalore city centre',
       'Nearest Landmark_Cubbon Park',
       'Nearest Landmark_Indira Gandhi Musical Fountain Park',
       'Nearest Landmark_Kempegowda Airport', 'Nearest Landmark_MG Road',
       'Nearest Landmark_Palace Grounds', 'Nearest Landmark_Ulsoor Lake'],
      dtype='object')

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
X_train.shape[1]

50

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import Ridge, Lasso

In [10]:
# XGBoost
xgb_model1 = XGBRegressor()
xgb_model1.fit(X_train, y_train)
y_pred_xgb = xgb_model1.predict(X_test)

In [11]:
mse_xgb1 = mean_squared_error(y_test, y_pred_xgb)
print("XGBoost MSE:", mse_xgb1)
r2_xgb1= r2_score(y_test, y_pred_xgb)
print("XGBoost R-squared:", r2_xgb1)

XGBoost MSE: 1814789.5151532074
XGBoost R-squared: 0.6489367494245213

In [12]:
X_test['price_pred']=y_pred_xgb
X_test['price_real']=y_test
X_test.head(5)

,Rating,Reviews,Star Rating,Distance to Landmark,Tax,Rating Description_Good,Rating Description_Very Good,Location_Bannerghatta Main road,Location_Bilekahalli,Location_Brookefield,...,Location_Yeshwanthpur,Nearest Landmark_Bangalore city centre,Nearest Landmark_Cubbon Park,Nearest Landmark_Indira Gandhi Musical Fountain Park,Nearest Landmark_Kempegowda Airport,Nearest Landmark_MG Road,Nearest Landmark_Palace Grounds,Nearest Landmark_Ulsoor Lake,price_pred,price_real
84,4.3,36.0,3.0,2150.0,767.53125,0,0,0,0,0,...,0,0,0,0,0,1,0,0,4601.634766,2799
55,3.7,1198.0,3.0,2150.0,767.53125,0,1,0,0,1,...,0,0,0,0,0,1,0,0,2795.560791,1884
66,4.2,142.0,4.0,2150.0,325.00000,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1607.072876,1005
67,3.8,1876.0,4.0,2150.0,767.53125,0,1,0,0,0,...,0,0,0,0,0,1,0,0,3576.980469,5292
45,3.9,1320.0,4.0,910.0,872.00000,0,1,0,0,0,...,0,0,0,0,0,1,0,0,4405.585449,3082

In [13]:
import pickle
with open('xgboost_model.pkl', 'wb') as f:
    pickle.dump(xgb_model1, f)

In [14]:
Xflask_test['usdprice_real']=y_test
Xflask_test['usdprice_pred']=y_pred_xgb
filtercity=Xflask_test[Xflask_test['Location']=='Hosur road']
print(filtercity)

    Rating Rating Description  Reviews  Star Rating    Location  \
84     4.3          Excellent     36.0          3.0  Hosur road
4      4.0          Very Good   3290.0          4.0  Hosur road
31     3.9          Very Good   1381.0          3.0  Hosur road

   Nearest Landmark  Distance to Landmark         Tax  usdprice_real  \
84          MG Road                2150.0   767.53125           2799
4           MG Road                2150.0  1014.00000           2522
31          MG Road                2150.0   767.53125           4499

    usdprice_pred
84    4601.634766
4     3873.969727
31    4208.910156

NameError: name 'xgb_model1' is not defined

XGBoost best Model:Gives-0.7337445531876408